#menu-nav-1 li a {
    background-color: #fff;
    color: #555;

h1 {
font-family: Arial, sans-serif;
font-style: italic;
    text-decoration: underline;
    color: #800020;
    text-align: center;
    }
    
    h2 {
        font-family: Arial, sans-serif;
font-style: italic;
    text-decoration: underline;
    color: #800020;
    text-align: center;
    }
    
    h3 {
        font-family: Arial, sans-serif;
font-style: italic;
    text-decoration: underline;
    color: #800020;
    text-align: center;
    }
       
        
   

p {
font-family: Arial, sans-serif;
font-style: italic;
    color: #483c32;
}
    li {
    font-family: Arial, sans-serif;
font-style: italic;
    color: #483c32;
    }
